<!-- templates/base.html -->
{% load static %}
{% load store_filters %}  <!-- Load the custom filters -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Savory Sprinters{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Savory Sprinters Logo">
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'store_app:home' %}">Home</a></li>
                <li><a href="{% url 'store_app:menu' %}">Menu</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'customer_app:account' %}">Account</a></li>
                <li><a href="{% url 'customer_app:logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'customer_app:login' %}">Login</a></li>
                <li><a href="{% url 'customer_app:register' %}">Register</a></li>
                {% endif %}
                <li><a href="{% url 'store_app:about' %}">About</a></li>
                <a href="{% url 'store_app:cart' %}">View Cart</a>

            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Savory Sprinters</p>
    </footer>
</body>
</html>
